asgiref
attrs
certifi
charset-normalizer
coreapi
coreschema
Django
django-filter
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
itypes
Jinja2
jsonschema
jsonschema-specifications
Markdown
MarkupSafe
packaging
Pillow
PyJWT
python-decouple
pytz
PyYAML
referencing
requests
rpds-py
sqlparse
swagger-spec-validator
typing_extensions
uritemplate
urllib3
django-mail-templated
black
flake8
pytest
pytest-django
faker
django-cors-headers